{% extends 'st_web/base.html' %}

{% block content %}

<div class="page-header header">
	<h3 class="heading">Payment Statistics Page</h3>
</div>

<div class="page-header" style="border-left: 5px solid red; margin-left: 35px;">
	<h4 class="point"><a class="link" href="/tutorials/">Tutorials contributed in a month</a></h4>
</div>

<div class="page-header" style="border-left: 5px solid blue; margin-left: 35px;">
	<h4 class="point"><a class="link" href="/contributions/">Published tutorials per contributor</a></h4>
</div>

<div class="page-header" style="border-left: 5px solid cyan; margin-left: 35px;">
	<h4 class="point"><a class="link" href="/payments/">Amount payable per contributor</a></h4>
</div>

{% endblock %}